@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #0e0e10;
  --background-rgb: #fcfcfc;
}

body {
  color: var(--foreground-rgb);
  background: var(--background-rgb)
}
